
body {
  font-family: "Times New Roman", Times, serif;
  background-color: darkgrey;
}

h1 {
  width:500px;
  margin: 0 auto;
  text-align: center;

}


label {
  width:500px;
  margin: 0 auto;
  text-align: center;
  border: 5px;
}
input {
  max-width: 100px;
  width: fit-content;
  text-align: center;

}

fieldset {
  text-align: center;
  width:450px;

}

.next {
height: 50px;
width: 100px;
}


.row {
  display: flex;
}

.col {
  flex: 1;

  padding: 1em;

}

.navbar {
  position: absolute;
  right: 0px;
  width: 100px;
  padding: 10px;
}

.leaderboard-list {
  margin: 0 auto;
  width: 150px;
}


.signup-messages {
  margin: 0 auto;
  text-align: left;
  width: 300px;
}

.wrapper
.signup-messages-container {
  margin-top: 10px;
}

.leaderboard-username {
  float: left;
  text-align: left;
}

.leaderboard-points {
  text-align: right;
}