{% extends 'main.html' %}
{% block content %}


      <!-- Portfolio-Text -->
      <div class="container-fluid pb-5 portfolio-text">
         <div class="row">
            <div class="col-md-7 offset-md-1 col-sm-12">
               <h2>Test yourself on the market based on historical prices!
               </h2>
            </div>
         </div>
         <div class="row">
            <div class="col-md-7 offset-md-1 col-sm-12">
               <p class="pb-5 pt-5">
Choose a year, initial capital and try to get the best return on your investment. Good luck!</p>
            </div>
         </div>
      </div>
      <!-- End Portfolio-Text -->



{% endblock content %}