{% extends 'main.html' %}
{% block content %}
<center><form method="POST">
    <fieldset>
   <legend>Login</legend>
        {{ form.csrf_token }}
        <div>{{ form.email.label }}</div>
        <div>{{ form.email }}</div>
        <div>{{ form.password.label }}</div>
        <div>{{ form.password }}</div>
        <div>{{ form.remember.label }}</div>
        <div>{{ form.remember }}</div>
        <div>{{ form.submit }}</div>
        <div>{% with messages = get_flashed_messages() %}
    {% if messages and not current_user.is_authenticated %}
    <div class="signup-messages-container">{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <ul class="signup-messages"><li>{{ message }}</li></ul>
        {% endfor %}{% endif %} {% endwith %}</div>
  {% endif %} {% endwith %}</div>
    </fieldset>
</form></center>
{% endblock content %}
