<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>Trading Game</title>
</head>
<body>
<h1>Trading Game</h1>
<br>
<br>
<center><form method="POST" action="started">
    <fieldset>
   <legend>Settings</legend>
        <label for="user" >Enter your name:</label><br>
        <input type="text" id="user" name="user" min="1000" width="200"><br>
        <label for="smoney" >Enter your starting money:</label><br>
        <input type="number" id="smoney" name="smoney" min="1000" max="100000000" value="1000" width="200"><br>
        <label for="year">Choose year you want to play:</label><br>
        <input type="number" id="year" name="year" min="2017" max="2020" value="2017"></fieldset>
        <input type="submit" name="action" value="Start Game!">
</form></center>
</body>
</html>

