{% extends 'main.html' %}
{% block content %}
<center><form method="POST" action="started">
    <fieldset>
   <legend>Settings</legend>
        {% if not current_user.is_authenticated %}
        <label for="user" >Enter your name:</label><br>
        <input class="form-style" type="text" id="user" name="user" min="1000" width="200"><br>
        {% endif %}
        <label for="smoney" >Enter your starting money:</label><br>
        <input class="form-style" type="number" id="smoney" name="smoney" min="1000" max="100000000" value="1000" width="200"><br>
        <label for="year">Choose year you want to play:</label><br>
        <input class="form-style" type="number" id="year" name="year" min="2017" max="2020" value="2017"></fieldset>
        <input class="form-style" type="submit" name="action" value="Start Game!">
</form></center>
{% endblock content %}
