<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>Trading Game</title>
</head>
<body>
<h1>Trading Game</h1>
<br>
<br>
<center><form method="POST">
    <fieldset>
   <legend>Sign Up</legend>
        <div>{{ form.csrf_token }}</div>
        <div>{{ form.email.label }}</div>
        <div>{{ form.email }}</div>
        <div>{{ form.username.label }}</div>
        <div>{{ form.username }}</div>
        <div>{{ form.password.label }}</div>
        <div>{{ form.password }}</div>
        <div>{{ form.confirm.label }}</div>
        <div>{{ form.confirm }}</div>
        <div>{{ form.accept_policy.label }}</div>
        <div>{{ form.accept_policy }}</div>
        <div>{{ form.submit }}</div>
        <div>{% with messages = get_flashed_messages() %}
        {{ messages }} {% endwith %}</div>
    </fieldset>
</form></center>
</body>
</html>
