{% extends 'main.html' %}
{% block content %}
<center><form method="POST">
    <fieldset>
   <legend>Sign Up</legend>
        <div>{{ form.csrf_token }}</div>
        <div>{{ form.email.label }}</div>
        <div>{{ form.email }}</div>
        <div>{{ form.username.label }}</div>
        <div>{{ form.username }}</div>
        <div>{{ form.password.label }}</div>
        <div>{{ form.password }}</div>
        <div>{{ form.confirm.label }}</div>
        <div>{{ form.confirm }}</div>
        <div>{{ form.accept_policy.label }}</div>
        <div>{{ form.accept_policy }}</div>
        <div>{{ form.submit }}</div>
        <div class="signup-messages-container">{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <ul class="signup-messages"><li>{{ message }}</li></ul>
        {% endfor %}{% endif %} {% endwith %}</div>
        </fieldset>
</form></center>
{% endblock content %}
