<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>Trading Game</title>
</head>
<body>
<div class="row">
<div class="col"></div>
<div class="col"><h1>Trading Game</h1>
<br>
<center><h2>Hi {{ user }}! It's {{ weekday }} {{ now }}</h2></center>
<br>
<center><form method="POST" action="day">
    <input type="submit" class="next" name="action" width="50" value="Next Day">
    <input type="submit" class="next" name="action" width="50" value="Skip 7 Days">
    <input type="submit" class="next" name="action" width="50" value="Skip 30 Days">
</form></center><br>
<center>{{ error }}</center></div>
<div class="col"></div>
</div>
<div class="row">
    <div class="col">
    <aside><fieldset>
        <div id='chart' class='chart'></div>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{value_graph | safe}};
  Plotly.plot('chart',graphs,{});
</script>
        <legend>Portfolio</legend>
    Your cash: {{'%0.2f'|format(cash|float)}} USD<br>
    Entire value of your wallet: {{'%0.2f'|format(entire_value|float)}} USD<br>
        <div align="left">Your assets:</div>
        {% for asset in portfolio %}
        <div align="left">{{ asset }} : {{ portfolio[asset][0]|round(2) / 10 }} {% if portfolio[asset][1]|length > 0 and portfolio[asset][0] > 0 %} --- Average buy price: {{ "$%.2f"|format(portfolio[asset][1]|sum / portfolio[asset][0]|round(2) * 10) }}<br></div>{% endif %}
    {% endfor %}
    </fieldset>
    <fieldset>
        <legend>Transactions history (last 10)</legend>
                {% for transaction in transactions_history %}
                {{ transaction }}<br>
                {% endfor %}
</fieldset>
</aside></div>
    <div class="col"><center><fieldset>
   <legend>Today's assets prices</legend>
{% for asset, form in zipped %}
        {{ asset }} -> {{ assets_dict[asset] }} USD <form method="GET" action="up">{{ form.amount }} {{ form.buy }} {{ form.sell }} {{ form.buyall }} {{ form.sellall }}</form>
{% endfor %}
    </fieldset></center></div><div class="col"></div>
    </div>
</body>
</html>
