{% extends 'main.html' %}
{% block content %}



<br>
<center>
    <h3>Hi {{ user }}! It's {{ weekday }} {{ now }}</h3>
    <br>
    <form method="POST" action="day">
    <input type="submit" class="next" name="action" width="50" value="Next Day">
    <input type="submit" class="next" name="action" width="50" value="Skip 7 Days">
    <input type="submit" class="next" name="action" width="50" value="Skip 30 Days">
</form></center><br>
<center>{{ error }}</center>



<div class="scrollblock">
         <div class="container-fluid pt-10">
            <div class="row justify-content-md-center ">
               <div class="col-md-10 col-sm-12">
                  <div class="card-columns">
                     <div class="card card-hover h-100" >
                        <div class="card-body">
                                 <div class="w-100 align-self-center">
                                         <div class="col"><center>
                                            Today's assets prices<br>
                                            {% for asset, form in zipped %}
                                                    {{ asset }} -> {{ assets_dict[asset] }} USD <form method="GET" action="up">{{ form.amount }} {{ form.buy }} {{ form.sell }} {{ form.buyall }} {{ form.sellall }}</form>
                                            {% endfor %}
                                                </center></div>
                                 </div>
                              </div>
                        </div>


                      <div class="card card-hover h-100" >
                        <div class="card-body">
                                 <div class="w-100 align-self-center">
                                    <fieldset>
        <div id='chart' class='chart'></div>
        <h4>Portfolio</h4>
                                        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{value_graph | safe}};
  Plotly.plot('chart',graphs,{});
</script>

    Your cash: {{'%0.2f'|format(cash|float)}} USD<br>
    Entire value of your wallet: {{'%0.2f'|format(entire_value|float)}} USD<br>
        <div align="left">Your assets:</div>
        {% for asset in portfolio %}
        <div align="left">{{ asset }} : {{ portfolio[asset][0]|round(2) / 10 }} {% if portfolio[asset][1]|length > 0 and portfolio[asset][0] > 0 %} --- Average buy price: {{ "$%.2f"|format(portfolio[asset][1]|sum / portfolio[asset][0]|round(2) * 10) }}<br></div>{% endif %}
    {% endfor %}
    </fieldset>
                                 </div>
                        </div>
                     </div>

                   <div class="card card-hover h-100">
                        <div class="card-body">

                            <div class="w-100 align-self-center">
                                    <p>Transactions history (last 10)</p>
                {% for transaction in transactions_history %}
                {{ transaction }}<br>
                {% endfor %}
                                 </div>
                              </div>
                            </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>








{% endblock content %}
