<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>Trading Game</title>
</head>
<body>
<h1>Game has ended</h1>
<br>
<br>
<center>
    <div id='chart' class='chart'></div>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{value_graph | safe}};
  Plotly.plot('chart',graphs,{});
</script>
    <fieldset>
   <legend>Your stats</legend>
    Your entire value of wallet: {{ '%0.2f'|format(entire_value|float) }}USD<br>Your ROI(return of investment): {{ '%0.2f'|format(roi|float) }}%
        <div>{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
        <span>{{ message }}</span>
    {% endfor %}
  {% endif %} {% endwith %}</div>
</fieldset>
</center>
</body>
</html>
