{% extends 'main.html' %}
{% block content %}

<center>
    <h3>Game has ended</h3>
<br>
<br>
    <div id='chart' class='chart'></div>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{value_graph | safe}};
  Plotly.plot('chart',graphs,{});
</script>
    <fieldset>
   <legend>Your stats</legend>
    Your entire value of wallet: {{ '%0.2f'|format(entire_value|float) }}USD<br>Your ROI(return of investment): {{ '%0.2f'|format(roi|float) }}%
        <div>{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
        <span>{{ message }}</span>
    {% endfor %}
  {% endif %} {% endwith %}</div>
</fieldset>
<fieldset>
    <legend>Leaderboard</legend>
    <table>
  <tr>
    <th>Position</th>
      <th>Username</th>
    <th>Points</th>
  </tr>
  {% for leader in leaderboard %}
        <tr>
        <td>{{ loop.index }}</td>
      <td>{{ leader[0] }}</td>
    <td>{{ leader[1] }}</td>
  {% endfor %}
  </tr>
</table>
</fieldset>
</center>

{% endblock content %}
